#wrapper {
	overflow: hidden;
	background-size: 0 0;
	&:before {
		background: {
			image: inherit;
			size: cover;
			position: 50% 50%;
		};
		top: 0;
		left: 0;
		right: 0;
		bottom: 0;
		z-index: -1;
		content: '';
		position: fixed;
	}
}

.strtg-mth-data {
	display: none;
}

.preloader {
	width: 100%;
	height: 100%;
	top: 0px;
	position: fixed;
	z-index: 99999;
	background: #fff;
	margin: 0 auto;
}

.circular {
	animation: scale 2s linear infinite;
	height: auto;
	transform-origin: center center;
	width: 150px;
	position: absolute;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	margin: auto;
}

.path {
	stroke-dasharray: 1, 200;
	stroke-dashoffset: 0;
	animation: dash 1.5s ease-in-out infinite, color 6s ease-in-out infinite;
	stroke-linecap: round;
}

@keyframes scale {
	0% {
		transform: scale(1.0);
		-webkit-transform: scale(1.0);
	}
	50% {
		transform: scale(2.0);
		-webkit-transform: scale(2.0);
	}
	100% {
		transform: scale(1.0);
		-webkit-transform: scale(1.0);
	}
}

@keyframes dash {
	0% {
		stroke-dasharray: 1, 200;
		stroke-dashoffset: 0;
	}
	50% {
		stroke-dasharray: 89, 200;
		stroke-dashoffset: -35px;
	}
	100% {
		stroke-dasharray: 89, 200;
		stroke-dashoffset: -124px;
	}
}

@keyframes color {
	100%,
	0% {
		stroke: #d62d20;
	}
	40% {
		stroke: #0057e7;
	}
	66% {
		stroke: #008744;
	}
	80%,
	90% {
		stroke: #ffa700;
	}
}

.jvectormap-container{
	height: 100%;
	svg{
		text{
			font-family: TradeGothicLTStd, Arial, "Helvetica Neue", Helvetica, sans-serif;
			font-size: 16px;
			font-weight: 300;
			@media (max-width: 767px) {
				display: none;
			}
			@media (min-width: 768px) and (max-width: 1023px) {
				font-size: 9px;
			}
		}
	}
}

.jvectormap-tip {
	position: absolute;
	display: none;
	border: none;
	background-color: #fff;
	border-radius: 5px;
	z-index: 1000;
	color: #41525c;
	-webkit-box-shadow: #666 2px 6px 12px;
	box-shadow: #666 2px 6px 12px;
	line-height: 1.5rem;
	.popup-content {
		padding: 1.25rem;
	}
	.name {
		font-size: 0.875rem;
		font-weight: bold;
		margin: 0 0 0 0;
	}
	.job {
		font-size: 0.75rem;
		font-weight: normal;
		margin: 0;
	}
	.email, .phone {
		font-size: 0.75rem;
		margin: 0;
		padding-left: 21px;
		position: relative;
		&:before {
			position: absolute;
			top: 50%;
			left: 0;
			content: '';
			transform: translate(0, -50%);
			display: block;
		}
	}
	.email {
		&:before {
			background-image: url("../images/icon-email.png");
			width: 16px;
			height: 10px;
		}
	}
	.phone {
		&:before {
			background-image: url("../images/icon-phone.png");
			width: 14px;
			height: 14px;
			margin-top: -1px;
		}
	}
}

#interactive_map{
	height: 576px;
	width: 100%;
}

body.tabs-ajax-loading .scroll-holder::before {
	content: "";
	position: absolute;
	z-index: 100;
	top: 50%;
	left: 50%;
	width: 100px;
	height: 100px;
	margin-top: -50px;
	margin-left: -50px;

	background: url("../images/cambir-logo-button.svg") no-repeat 50% 50%;
	background-size: contain;
	animation: pulse-dot 1.25s cubic-bezier(0.455, 0.03, 0.515, 0.955) -.4s infinite;
}

@keyframes pulse-dot {
  0% {
    transform: scale(.8);
  }
  50% {
    transform: scale(1);
  }
  100% {
    transform: scale(.8);
  }
}