.history-page {
	background: url("../images/hero-bg-4.jpg") no-repeat 100% 100%;
	background-size: cover;
	padding-top: 64px;
	min-height: 100vh;
	.container {
		height: 100%;
		display: flex;
		flex-direction: column;
		flex-wrap: wrap;

		justify-content: flex-start;
		align-content: flex-start;
		align-items: flex-start;
		position: relative;
		z-index: 5;
	}
	.fp-scroller {
		height: 100%;
	}
	a {
		pointer-events:visible;
	}
	.layer {
		width: 100%;
		height: 100%;
	}
	.bg-img {
		transition: all 1000ms ease;
		position: absolute;
		z-index: 0;
		background-position: 50%;
		background-repeat: no-repeat;
		background-size: cover;
		opacity: .5;
		&.left {
			left: -100%;
			transition: left 1500ms;
			transition-delay: .5s;
			max-width: 80%;
			&.active {
				left: 0;
			}
		}
		&.right {
			right: -100%;
			transition: right 1000ms;
			transition-delay: .2s;
			max-width: 40%;
			&.active {
				right: 0;
			}
		}
		&.bottom {
			bottom: 20vh;
		}
		&.center {
			top: 18%;
		}
	}
	.fp-controlArrow {
		width: auto;
		border: none;
		top: auto;
		bottom: 14px;
		height: auto;
		z-index: 5;
		&:before {
			line-height: inherit;
			font-size: 1rem;
			font-family: 'icomoon' !important;
			color: #ffffff;
		}
		&.fp-prev:before {
			content: "\e902";
		}
		&.fp-next:before {
			content: "\e903";
		}
		@include media('>=tablet-l') {
			&:before {
				font-size: 3rem;
			}
		}
		@include media('>=desktop') {
			bottom: calc(7.63vh - 18px);
		}
	}
	.fp-slidesNav {
		max-width: 1218px;
		width: 90%;
		left: 50% !important;
		transform: translate3d(-50%, 0, 0);
		ul {
			margin: 0 auto;
			padding: 0 58px;
			text-align: right;
			display: flex;
			align-items: center;
			justify-content: center;
			&:before {
				content: '';
				height: 2px;
				background-image: -webkit-repeating-linear-gradient(left, #98a3ac, #98a3ac 2px, transparent 0, transparent 8px);
				background-image: repeating-linear-gradient(to right, #98a3ac, #98a3ac 2px, transparent 0, transparent 8px);
				margin-left: -58px;
				flex: 1;
			}
			&:after {
				content: '';
				height: 2px;
				background-image: -webkit-repeating-linear-gradient(left, #98a3ac, #98a3ac 2px, transparent 0, transparent 8px);
				background-image: repeating-linear-gradient(to right, #98a3ac, #98a3ac 2px, transparent 0, transparent 8px);
				margin-right: -58px;
				//width: 58px;
				flex: 1;
			}
			li {
				width: 35px;
				height: 10px;
				padding: 10px 0;
				margin: 0;
				vertical-align: middle;
				display: flex;
				align-items: center;
				justify-content: flex-end;
				@include media('<phone') {
					width: 30px;
				}	
				&:before {
					content: '';
					height: 2px;
					background-image: -webkit-repeating-linear-gradient(left, #98a3ac, #98a3ac 2px, transparent 0, transparent 8px);
					background-image: repeating-linear-gradient(to right, #98a3ac, #98a3ac 2px, transparent 0, transparent 8px);
					flex: 1;
				}
				&:after {
					content: '';
					height: 2px;
					background-image: -webkit-repeating-linear-gradient(left, #98a3ac, #98a3ac 2px, transparent 0, transparent 8px);
					background-image: repeating-linear-gradient(to right, #98a3ac, #98a3ac 2px, transparent 0, transparent 8px);
					flex: 1;
				}
				a {
					padding: 0;
					position: relative;
					width: 62px;
					&:before{
						content: attr(data-nav-year);
						display: none;
						font-size: 12px;
						position: absolute;
						text-align: center;
						font-weight: 600;
						color: #ffffff;
						left: 50%;
						transform: translate(-50%, -27px);
						top: 0;
					}
					&:hover {
						&:before {
							display: block;
						}
					}
					span {
						width: 10px;
						height: 10px;
						border: 2px solid rgba(255, 255, 255, .5);
						border-radius: 0;
						margin: -5px 0 0 -5px;
						background: #6f7f8c;
					}
					&.active {
						&:before {
							display: block;
						}
						span {
							background: #ffffff;
							border-width: 1px;
						}
					}
				}
			}
		}
		@include media('>=desktop') {
			bottom: 7.63vh;
		}
	}
	.title {
		font-size: 24px;
		font-weight: 600;
		align-self: flex-start;
		margin: {
			bottom: 28.48vh;
			top: 25px;
		}
	;
	}
	.text {
		max-width: 576px;
		align-self: flex-end;
		h2 {
			font-size: 16px;
			font-weight: 600;
			text-transform: uppercase;
		}
		a {
			font-size: 12px;
			font-weight: 600;
			color: #ffffff;
			text-transform: uppercase;
		}
	}
	.fp-slide {
		position: relative;
		overflow: hidden;
	}
	.year {
		position: absolute;
		left: 50%;
		top: 50%;
		bottom: 0;
		transform: translate(-50%, -30%);
		color: rgba(185, 199, 212, .25);
		font-size: 192px;
		font-weight: 600;
		letter-spacing: -3.84px;
		z-index: 1;
		line-height: 1;
		opacity: 0;
		transition: opacity .5s;
		&.active {
			opacity: 1;
		}
	}

	@include media('>=tablet-l') {
		padding-top: 96px;
		background-position: 50%;
		.container {
			justify-content: center;
			align-content: center;
			align-items: center;
		}
		.title {
			font-size: 64px;
			margin: {
				top: 0;
				bottom: 10.48vh;
			}
		}
		.text {
			h2 {
				font-size: 32px;
			}
		}
		.year {
			font-size: 40vw;
			z-index: 0;
			transform: translate(-50%, -72%);
		}
		.bg-img {
			opacity: 1;
			z-index: 1;
			max-width: 100%;
			&.center {
				top: 50%;
				transform: translateY(-60%);
			}
			&.left {
				&.active {
					left: 1.71%;
				}
			}
			&.right {
				&.active {
					right: 1.71%;
				}
			}
		}
		.fp-slidesNav {
			ul {
				justify-content: flex-end;
				&:after {
					width: 116px;
					flex: 0 116px;
				}
				li {
					width: 160px;
					a {
						&.active {
							&:before {
								display: none;
							}
							&:hover {
								&:before {
									display: block;
								}
							}
						}
					}
				}
			}
		}
	}
}